<!DOCTYPE html>
<html>
	<head>
                <%- include ('./partials/head') %>
	</head>
	<body>
        <header>      
                <%- include ('./partials/header') %>
        </header>  
        <main>
        <h1> Absence de <%=first%> <%=last%> </h1>
                <table class="wowtable">
                        <thead>
                                <tr> 
                                <th> Date </th>
                                <th> ID de la leçon</th>
                                </tr>  
                        </thead>
                        <tbody>
                                <% for(var i=0; i <abslist.length; i++) { %> 
                                <tr>
                                        <td> <%= abslist[i].date %> </td>
                                        <td> <%= abslist[i].lesson_id %>    </td>
                                </tr>
                                <% } %>
                        </tbody>
                </table>
        <!-- ajout d'une class-->
        </main>
        <footer>
                <%- include ('./partials/footer') %>
        </footer>              
	</body>
</html>